*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#f3f4f6;
    max-width:100%;
    min-width:100%;
}


/* 'sm': '320px',
'md': '576px',
'lg': '768px',
'xl': '1024px',
'2xl': '1280px',
'3xl': '1600px', */

  